In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import svm 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
df=pd.read_csv("train_1.csv")

In [2]:
df.drop(['LoanPurpose', 'LoanDesc','ApplicantState','LoanID', 'ApplicantZIP','ApplicantID'], axis=1, inplace=True)
        
df['LoanIntRate'] = df['LoanIntRate'].str.replace('%','')
def converting(x):
    return float(x)/100
df['LoanIntRate']=df['LoanIntRate'].map(converting)

df['LoanTerm'].fillna(df['LoanTerm'].mode()[0], inplace=True)
df['LoanAmount'].fillna(int(df['LoanAmount'].mean()), inplace=True)

In [3]:
Q1 = df['LoanAmount'].quantile(0.25)
Q3 = df['LoanAmount'].quantile(0.75)
IQR = Q3-Q1
lower_bond = Q1 - 1.5*IQR
upper_bond = Q3 + 1.5*IQR

def outliers(x):
    
    if x<lower_bond:
        x=lower_bond    
    elif x>upper_bond:
        x=upper_bond
    return x

In [4]:
df['LoanAmount'] = df['LoanAmount'].map(outliers)

In [5]:
Q_1 = df['ApplicantIncome'].quantile(0.25)
Q_3 = df['ApplicantIncome'].quantile(0.75)
IQR_1 = Q_3-Q_1
lower_bond_1 = Q_1 - 1.5*IQR_1
upper_bond_1 = Q_3 + 1.5*IQR_1
    
def outlierss(x):
    
    if x<lower_bond_1:
        x=lower_bond_1    
    elif x>upper_bond_1:
        x=upper_bond_1
    return x

In [6]:
df['ApplicantIncome'] = df['ApplicantIncome'].map(outlierss)

In [7]:
df['LoanApproved'].replace(['N','Y'],[0,1], inplace=True)

In [8]:

categorical_cols = ["ApplicantGender", "ApplicantDependents","ApplicantMarried", "ApplicantEducation", "ApplicantSelfEmployed",
                    "ApplicantHomeOwn","ApplicantCreditHistory", "ApplicantEmplLength"]

continous_cols = [ 
                  "ApplicantIncome","LoanAmount"
                 ,"LoanTerm","LoanIntRate"]

for col in categorical_cols:
    df[col] = df[col].astype("category")
    
#for col in continous_cols:
 #   df[col] = df[col].astype("i16")
    
    
df['ApplicantEducation'].replace(['Diplomiral', 'Brez diplome'],[0,1],inplace=True)

In [9]:
df=pd.get_dummies(df, columns=['ApplicantGender', 'ApplicantMarried',
       'ApplicantDependents', 'ApplicantSelfEmployed', 'ApplicantCreditHistory',
        'ApplicantEmplLength', 'ApplicantHomeOwn',
       'LoanTerm'])

In [10]:
df['LoanIntRate'].unique()

array([0.0142, 0.039 , 0.028 , 0.0326, 0.03  , 0.0365, 0.034 , 0.0233,
       0.0203, 0.0312, 0.0121, 0.025 , 0.0183, 0.026 , 0.0154, 0.0267,
       0.0404, 0.029 , 0.0482, 0.022 , 0.0168, 0.0518, 0.0516, 0.038 ,
       0.013 , 0.0351, 0.0469, 0.049 , 0.05  , 0.0517, 0.042 , 0.0443,
       0.0521, 0.0511, 0.052 , 0.0389, 0.0378, 0.0152, 0.041 , 0.0273,
       0.0178, 0.0293, 0.0306, 0.0193, 0.0449, 0.0332, 0.024 , 0.0283,
       0.0424, 0.044 , 0.04  , 0.0158, 0.0384, 0.0325, 0.0257, 0.0289,
       0.0458, 0.0468, 0.043 , 0.0474, 0.0448, 0.0399, 0.0271, 0.0132,
       0.012 ])

In [11]:
'''
for col in categorical_cols:
    print(f"Unique values of {col} column is : {list(df[col].unique())}")'''

'\nfor col in categorical_cols:\n    print(f"Unique values of {col} column is : {list(df[col].unique())}")'

In [12]:
'''def one_hot_encode(data, cols, postfix= "_new") -> pd.DataFrame:
   
    global new_cols
    new_cols = [col + "_new" for col in cols]
    
    for new_col, col in zip(new_cols, cols):
        data[new_col] = data[col].cat.codes
        
    data = data.drop(cols, axis= 1)
    return data

df = one_hot_encode(df, categorical_cols)
'''

'def one_hot_encode(data, cols, postfix= "_new") -> pd.DataFrame:\n   \n    global new_cols\n    new_cols = [col + "_new" for col in cols]\n    \n    for new_col, col in zip(new_cols, cols):\n        data[new_col] = data[col].cat.codes\n        \n    data = data.drop(cols, axis= 1)\n    return data\n\ndf = one_hot_encode(df, categorical_cols)\n'

In [13]:
df

,ApplicantEducation,ApplicantIncome,LoanAmount,LoanIntRate,LoanApproved,ApplicantGender_Moški,ApplicantGender_Ženska,ApplicantMarried_DA,ApplicantMarried_NE,ApplicantDependents_0 oseb,...,LoanTerm_3.0,LoanTerm_9.0,LoanTerm_15.0,LoanTerm_21.0,LoanTerm_30.0,LoanTerm_45.0,LoanTerm_60.0,LoanTerm_75.0,LoanTerm_90.0,LoanTerm_120.0
0,0,1949.666667,51087.0,0.0142,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
1,0,1527.666667,44800.0,0.0390,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,861.000000,42000.0,0.0280,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,1066.666667,24500.0,0.0326,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,833.333333,38150.0,0.0326,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38762,0,873.333333,57750.0,0.0289,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
38763,0,3107.666667,17500.0,0.0152,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
38764,0,800.000000,58800.0,0.0250,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
38765,0,1365.000000,43050.0,0.0178,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
38766,1,70.000000,43750.0,0.0240,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
for i in df.columns:
    print(i)
    print(df[i].unique())
    print('*********')

ApplicantEducation
[0 1]
*********
ApplicantIncome
[1949.666667  1527.666667   861.        1066.666667   833.3333333
  433.        1650.        1198.666667  1629.        1985.
 1121.666667  3186.666667   933.        1250.        1055.666667
 1166.666667   609.3333333 1222.333333  1249.333333   600.
  800.        1313.666667  1565.        1136.666667  1883.
 1940.333333   642.6666667 1028.666667  1538.666667  3388.8333325
 1122.        2693.333333  1119.         869.6666667 1648.333333
 1908.666667  1585.         333.3333333 1282.         459.3333333
 2000.        1206.666667  2260.666667   828.         659.
  586.3333333 1429.333333  1614.333333  1272.        1017.333333
 2444.333333  1772.        1190.666667  2483.666667  1388.666667
 1433.333333  1230.666667  1288.333333  1631.666667  1333.333333
 1105.333333  1400.        1805.666667   776.6666667 3333.333333
 3055.333333  1084.666667   993.3333333 2644.333333   813.
  745.6666667 2666.666667   606.6666667 1174.        1902.666667
 1165.666667   681.6666667  638.6666667 1533.333333   726.
  224.6666667 3109.333333  2011.        1041.666667  2777.666667
  635.6666667 1138.666667   866.6666667 1641.        1330.666667
 1469.333333  1081.333333  1325.         826.3333333 1143.333333
 1901.        1283.333333    50.         740.3333333  990.3333333
 2083.333333  1578.333333  2133.333333   830.3333333 1063.
 1051.666667  1833.333333  1154.333333  1105.         836.6666667
  988.3333333 1135.333333   603.         887.        1027.666667
 2027.666667   686.6666667 1160.333333  1569.333333  1139.333333
  944.3333333 1300.        1034.333333  1351.         767.
  603.6666667 1052.666667  1374.666667  3169.333333  1025.
 1472.        2291.666667   958.3333333 1666.666667   666.6666667
 1254.        2555.666667   972.3333333  975.6666667  835.6666667
 1915.333333   824.3333333 1239.        1447.333333  1055.333333
 2888.666667  1639.        1939.333333  1444.333333  1461.333333
  978.3333333 3277.666667   610.        1386.666667   882.3333333
  792.6666667 1518.        1057.666667   833.        2111.
 3027.666667  2916.666667   888.6666667 1271.        1291.666667
 1000.        1574.333333  1004.333333  1728.333333  1020.666667
  921.3333333 1605.666667  1023.        1797.        1003.333333
 1829.333333  3168.        1033.333333  1060.        1300.666667
  500.        1515.666667   737.6666667 2766.666667  2085.333333
 2032.         751.         533.3333333 1082.        2416.666667
 1978.333333   973.3333333 2166.666667   808.3333333 3349.
  642.        2380.666667  1155.333333   769.6666667 1316.
 1236.        1451.333333   694.3333333 2580.        1005.
 1730.333333   982.3333333 1150.        1563.666667  1031.666667
  652.6666667 1182.333333   811.6666667 1777.666667  1199.
 1108.666667   965.         215.        1621.666667  1350.
 1271.333333  1194.333333  1199.333333  2021.666667   710.
 1024.666667  1561.         730.6666667 2649.333333  1560.
 1258.333333   893.        2261.         341.6666667 1427.
  850.        2044.333333  1205.666667  1536.         712.6666667
  746.3333333  922.6666667 1119.333333   928.3333333  830.6666667
 1111.         818.        1197.666667  1822.666667  3379.666667
 1225.        2933.        1705.333333  2041.666667  1053.
 1029.         594.        2180.         626.6666667  929.
  765.6666667 1286.333333  2127.666667   995.6666667 3321.
  964.6666667 1225.333333  1077.333333   966.6666667 1368.666667
 2690.666667   923.        2316.666667  1012.        1076.333333
 1060.666667  1266.666667  1133.        2389.        2072.
  906.6666667 2633.666667  1329.        1541.666667  2874.666667
 1331.        2135.333333  1856.        1722.333333   654.3333333
  842.        1564.        2526.         777.6666667 1750.
  556.        1133.333333  1366.666667  1683.333333   758.3333333
 3107.666667  1220.        1196.         916.6666667  738.
  827.6666667 1335.333333  1200.         899.6666667 1433.666667
  908.6666667 1939.666667   957.6666667 1408.666667  1583.333333
  889.        2211.        3055.666667  2480.333333  1083.333333
 1305.666667  1029.666667   859.         884.3333333 3179.333333
  958.6666667  998.3333333 1550.666667   976.3333333 1643.666667
  963.        2015.        2553.333333  1208.333333  1535.333333
  960.6666667 2778.        1427.666667  1410.        1980.333333
 1179.666667  1217.333333  2094.333333   541.6666667  716.3333333
 1180.333333  1295.666667  1024.333333   760.3333333 1892.333333
  881.6666667 2139.         671.3333333 1838.666667  1170.
 1450.         782.        1943.         664.3333333 1974.333333
 1153.         807.6666667 1009.666667   721.6666667 1466.666667
 2366.666667  1396.        1289.        1489.        1238.666667
 2400.        1286.        1092.        3119.         794.3333333
 1235.666667   621.        1051.         677.        1898.333333
 1569.        1834.333333   722.3333333 1722.        2274.
  686.        2361.666667  1113.333333  1365.        1094.333333
 2595.666667  1277.666667  1436.666667   918.3333333 2016.666667
 1336.333333  1329.333333  2233.333333  1389.         512.6666667
 1079.        1926.666667  2202.666667  1448.         710.6666667
 1393.333333  1708.        1091.         798.3333333 1620.
 1270.666667   873.3333333  985.6666667 3234.333333   905.6666667
 1889.         690.3333333 1309.        1142.333333   902.6666667
 1377.666667  1397.          70.        1234.666667  1680.666667
 1242.333333  1005.666667   906.        1069.333333  1755.333333
 2026.666667   899.3333333 1174.333333  1761.666667  2092.333333
  986.        2527.666667  1844.        1230.333333   612.
  617.6666667 1139.        1933.333333  1938.333333   712.3333333
  788.6666667  875.         138.6666667 1555.333333  1586.
  480.6666667 1011.        2108.333333  2855.333333  1200.333333
 1522.        1628.333333   625.       ]
*********
LoanAmount
[51087. 44800. 42000. 24500. 38150.  5950. 43750. 35000. 46550. 91000.
 39200. 66850. 42700. 25900. 39900. 50400. 38500. 16450. 26250. 46900.
 33600. 30800. 15400. 47250. 63000. 57750. 90300. 33250. 39550. 61600.
 38850. 58450.  8750. 47950. 17500. 45850. 52850. 56000. 47600. 53200.
 90650. 67900. 32550. 35700. 29400. 84700. 45150. 58800. 78750. 85400.
 22050. 70000. 28350. 65450. 40600. 35350. 23450. 25550. 23100. 65800.
 59500. 29050. 31500. 58100. 28000. 19250. 20650. 45500. 21000. 48300.
 73500. 36400. 49000. 54250. 37800. 43050. 89250. 52500. 44100. 55300.
 27300. 18900. 31150. 40250. 48650. 50050. 36750. 46200. 64750. 19600.
 55650. 43400. 64400. 40950. 34300. 24850. 63700. 60550. 16100. 79800.
 36050. 76300. 83650. 30450. 52150. 53550. 56700. 86100. 65100. 41650.
 37450. 72800. 87500. 15750. 32900. 75600. 34650. 63350.  9100. 71750.
 12600. 21350. 51100. 49700. 60200. 14000. 88550. 42350. 61250. 68600.
 49350. 54950. 18550. 70350. 26600. 62300. 33950. 41300. 29750.  3150.
 53900. 44450. 16800. 37100. 73150. 66500. 22750. 84000. 51800. 54600.
 12250. 30100. 74900. 10500. 56350. 14700. 67200. 57400. 82600. 73850.
 80500. 20300. 81900. 25200. 50750. 72450. 85050. 21700.]
*********
LoanIntRate
[0.0142 0.039  0.028  0.0326 0.03   0.0365 0.034  0.0233 0.0203 0.0312
 0.0121 0.025  0.0183 0.026  0.0154 0.0267 0.0404 0.029  0.0482 0.022
 0.0168 0.0518 0.0516 0.038  0.013  0.0351 0.0469 0.049  0.05   0.0517
 0.042  0.0443 0.0521 0.0511 0.052  0.0389 0.0378 0.0152 0.041  0.0273
 0.0178 0.0293 0.0306 0.0193 0.0449 0.0332 0.024  0.0283 0.0424 0.044
 0.04   0.0158 0.0384 0.0325 0.0257 0.0289 0.0458 0.0468 0.043  0.0474
 0.0448 0.0399 0.0271 0.0132 0.012 ]
*********
LoanApproved
[1 0]
*********
ApplicantGender_Moški
[1 0]
*********
ApplicantGender_Ženska
[0 1]
*********
ApplicantMarried_DA
[0 1]
*********
ApplicantMarried_NE
[1 0]
*********
ApplicantDependents_0 oseb
[1 0]
*********
ApplicantDependents_1 oseba
[0 1]
*********
ApplicantDependents_2 osebi
[0 1]
*********
ApplicantDependents_3+ osebe
[0 1]
*********
ApplicantSelfEmployed_DA
[0 1]
*********
ApplicantSelfEmployed_NE
[1 0]
*********
ApplicantCreditHistory_0.0
[0 1]
*********
ApplicantCreditHistory_1.0
[1 0]
*********
ApplicantEmplLength_1 leto
[0 1]
*********
ApplicantEmplLength_10+ let
[0 1]
*********
ApplicantEmplLength_2 leti
[0 1]
*********
ApplicantEmplLength_3 leta
[0 1]
*********
ApplicantEmplLength_4 leta
[0 1]
*********
ApplicantEmplLength_5 let
[1 0]
*********
ApplicantEmplLength_6 let
[0 1]
*********
ApplicantEmplLength_7 let
[0 1]
*********
ApplicantEmplLength_8 let
[0 1]
*********
ApplicantEmplLength_9 let
[0 1]
*********
ApplicantEmplLength_< 1 leto
[0 1]
*********
ApplicantHomeOwn_LASTNO
[0 1]
*********
ApplicantHomeOwn_NAJEM
[0 1]
*********
ApplicantHomeOwn_STANOVANJSKI KREDIT
[1 0]
*********
LoanTerm_3.0
[0 1]
*********
LoanTerm_9.0
[0 1]
*********
LoanTerm_15.0
[0 1]
*********
LoanTerm_21.0
[0 1]
*********
LoanTerm_30.0
[0 1]
*********
LoanTerm_45.0
[0 1]
*********
LoanTerm_60.0
[0 1]
*********
LoanTerm_75.0
[0 1]
*********
LoanTerm_90.0
[1 0]
*********
LoanTerm_120.0
[0 1]
*********

In [15]:
X=df.drop(columns=['LoanApproved'],axis=1)
#print(X)




y=df['LoanApproved']
#print(y)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
scaled_data = scaler.transform(X_train)
#scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_test = scaler.transform(X_test)

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(scaled_data, y_train)
pred = model.predict(scaled_test)
#LR=accuracy_score(y_test, pred)


#forest = RandomForestClassifier()
#forest.fit(scaled_data, y_train)
#ypred_forest = forest.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.98      0.93      0.96      1251
           1       0.99      1.00      0.99      6503

    accuracy                           0.99      7754
   macro avg       0.98      0.97      0.97      7754
weighted avg       0.99      0.99      0.99      7754

In [17]:
results_df=pd.read_csv("test_1.csv")

In [18]:
results_df.drop(['LoanPurpose', 'LoanDesc','ApplicantState','LoanID','ApplicantID','LoanApproved','ApplicantZIP'], axis=1, inplace=True)
        
results_df['LoanIntRate'] = results_df['LoanIntRate'].str.replace('%','')
def converting(x):
    return float(x)/100
results_df['LoanIntRate']=results_df['LoanIntRate'].map(converting)

results_df['LoanTerm'].fillna(results_df['LoanTerm'].mode()[0], inplace=True)
results_df['LoanAmount'].fillna(int(results_df['LoanAmount'].mean()), inplace=True)

In [19]:
Q1 = results_df['LoanAmount'].quantile(0.25)
Q3 = results_df['LoanAmount'].quantile(0.75)
IQR = Q3-Q1
lower_bond = Q1 - 1.5*IQR
upper_bond = Q3 + 1.5*IQR

def outliers(x):
    
    if x<lower_bond:
        x=lower_bond    
    elif x>upper_bond:
        x=upper_bond
    return x

In [20]:
results_df['LoanAmount'] = df['LoanAmount'].map(outliers)

In [21]:
Q_1 = results_df['ApplicantIncome'].quantile(0.25)
Q_3 = results_df['ApplicantIncome'].quantile(0.75)
IQR_1 = Q_3-Q_1
lower_bond_1 = Q_1 - 1.5*IQR_1
upper_bond_1 = Q_3 + 1.5*IQR_1
    
def outlierss(x):
    
    if x<lower_bond_1:
        x=lower_bond_1    
    elif x>upper_bond_1:
        x=upper_bond_1
    return x

In [22]:
results_df['ApplicantIncome'] = results_df['ApplicantIncome'].map(outlierss)

In [23]:

categorical_cols = ["ApplicantGender", "ApplicantDependents","ApplicantMarried", "ApplicantEducation", "ApplicantSelfEmployed",
                    "ApplicantHomeOwn","ApplicantCreditHistory", "ApplicantEmplLength"]

continous_cols = [ 
                  "ApplicantIncome","LoanAmount"
                 ,"LoanTerm","LoanIntRate"]

for col in categorical_cols:
    results_df[col] = results_df[col].astype("category")
    
#for col in continous_cols:
 #   df[col] = df[col].astype("i16")
    
    
results_df['ApplicantEducation'].replace(['Diplomiral', 'Brez diplome'],[0,1],inplace=True)

In [24]:
results_df=pd.get_dummies(results_df, columns=['ApplicantGender', 'ApplicantMarried',
       'ApplicantDependents', 'ApplicantSelfEmployed', 'ApplicantCreditHistory',
        'ApplicantEmplLength', 'ApplicantHomeOwn',
       'LoanTerm'])

In [25]:
scaler = StandardScaler()
scaler.fit(results_df)
scaled_data = scaler.transform(results_df)
#scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

In [26]:
#results_df['LoanApproved']=y

pred = model.predict(scaled_data)



#results_df.to_csv('final.csv', index=False)

In [27]:
dfff=pd.read_csv('test_1.csv')

In [28]:
dfff['LoanApproved']=pred

In [29]:
dfff.replace([0,1],['N','Y'], inplace=True)

In [30]:
dfff.to_csv('final_logistic_regression.csv', index=False)

In [31]:
dfff

,LoanID,ApplicantID,ApplicantGender,ApplicantMarried,ApplicantDependents,ApplicantEducation,ApplicantSelfEmployed,ApplicantIncome,ApplicantCreditHistory,ApplicantZIP,ApplicantState,ApplicantEmplLength,ApplicantHomeOwn,LoanAmount,LoanTerm,LoanIntRate,LoanDesc,LoanPurpose,LoanApproved
0,28446,65530,Moški,DA,0 oseb,Diplomiral,DA,1000.000000,Y,14xx,SI,2 leti,STANOVANJSKI KREDIT,23100.0,90.0,3.26%,NaN,NaN,Y
1,7213,4270,Moški,NE,0 oseb,Diplomiral,NE,2000.000000,Y,21xx,SI,< 1 leto,STANOVANJSKI KREDIT,49350.0,90.0,2.90%,NaN,NaN,Y
2,18217,39282,Moški,DA,2 osebi,Diplomiral,DA,1805.666667,Y,44xx,si,10+ let,STANOVANJSKI KREDIT,93450.0,90.0,2.60%,NaN,NaN,Y
3,3741,44057,Moški,DA,0 oseb,Brez diplome,NE,777.666667,Y,60xx,SI,7 let,NAJEM,33250.0,90.0,2.20%,NaN,NaN,Y
4,39566,5809,Moški,DA,1 oseba,Diplomiral,NE,4280.333333,Y,01xx,slo,6 let,NAJEM,122150.0,90.0,3.51%,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16610,47914,18046,Moški,DA,3+ osebe,Brez diplome,NaN,899.666667,N,33xx,SI,10+ let,LASTNO,56000.0,90.0,4.40%,NaN,NaN,N
16611,57301,68538,Moški,DA,0 oseb,Diplomiral,NE,3333.333333,Y,14xx,SI,10+ let,STANOVANJSKI KREDIT,40600.0,90.0,3.12%,NaN,NaN,Y
16612,35929,21990,Moški,DA,0 oseb,Brez diplome,NE,2032.000000,N,33xx,SI,8 let,STANOVANJSKI KREDIT,38500.0,90.0,3.06%,IzPosojilojemalec je dodal na 02-16-14 > kons...,NaN,N
16613,37555,25600,Ženska,NE,0 oseb,Diplomiral,DA,1119.333333,Y,84xx,SI,7 let,NAJEM,40600.0,90.0,5.16%,NaN,investicija,Y
16614,31968,67124,Moški,DA,3+ osebe,Diplomiral,NE,215.000000,Y,80xx,SI,4 leta,STANOVANJSKI KREDIT,35700.0,90.0,3.25%,NaN,NaN,Y